body {
  background-image: url("/image/gravity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container-fluid {
  background-color: white;
  width: 1000px;
  height: 650px;
  margin: 50px auto;
}
.current-page{
  color:#1841CB;
}
.search-input{
  width: 40%;
}
.btn{
  width: 15%;
}
