body {
  background-image: url("/image/gravity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container-fluid {
  background-color: white;
  width: 1000px;
  height: 650px;
  margin: 50px auto;
}
.current-page {
  color: #1841cb;
}
.search-input {
  width: 40%;
}
.btn {
  width: 15%;
}


.display {
  height: 450px;
  background-image: url("/image/Worldmap.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  padding-top: 70px;
}

