body {
  background-image: url("/image/gravity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-section {
  background-color: white;
  width: 75%;
  margin: 50px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin: 0 80px;
}
form label {
  font-size: 20px;
}
.display {
  height: 450px;
  background-image: url("/image/Worldmap.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* padding-top: 7px; */
}
.grid-city-time {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 10px;
}
.city-time-input {
  width: 50%;
}

footer {
  margin-top: auto;
}
.show-info-difference {
  margin: 100px;
}
.borders {
  border-right: 2px solid rgb(121, 120, 120);
}

@media (max-width: 1280px) {
  .nav-link {
    margin: 0 65px;
  }
}
@media (max-width: 1024px) {
  .nav-link {
    margin: 0 40px;
  }
}

@media (max-width: 960px) {
  .enter-city h3 {
    font-size: 16px;
  }
  form label {
    font-size: 16px;
  }
  select {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
  }
  .city-time-input {
    width: 75%;
  }
  .grid-difference {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 10px;
  }
  .label-padding {
    padding-left: 28px;
  }
  .calculate-button {
    width: 75%;
  }
  .show-info-difference {
    margin: 50px 0;
  }
}
@media (max-width: 740px) {
  .borders {
    border-bottom: 2px solid rgb(141, 140, 140);
    border-right: none;
  }
}
